*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products p{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blueviolet;
    padding: 30px;
    background-color: darkgreen;
}